<a href="{{@blog.url}}/rss" title="Posts Feed"><img src="{{asset '/images/follow/rss.png'}}" title="Posts Feed" alt="Posts Feed" width="45" height="45" border="0" /></a>
<a href="http://www.instagram.com/wfpblife" title="Instagram"><img src="{{asset '/images/follow/instagram.png'}}" alt="Instagram" title="Instagram" width="45" height="45" border="0" /></a>
<a href="mailto:bethaashley@gmail.com" title="Email"><img src="{{asset '/images/follow/email.png'}}" title="Email" alt="Email" width="45" height="45" border="0" /></a>
